* {
	margin: 0;
}

body {
	overflow: hidden;
}

canvas {
	position: fixed;
	width: 100vmax;
	height: 100vmax;
	/* background: radial-gradient(circle at center, black 0, white 5%, white 100%); */
}

@media (orientation: portrait) {
	canvas {
		left: calc((100vmax - 100vmin) / -2);
	}
}

@media (orientation: landscape) {
	canvas {
		top: calc((100vmax - 100vmin) / -2);
	}
}

#cursorLayer {
	cursor: pointer;
	background: none;
}

#backupScaler {
	display: none;
}
