* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

canvas {
	position: fixed;
	cursor: pointer;
	/* background: radial-gradient(circle at center, black 0, white 5%, white 100%); */
}

#backupScaler {
	display: none;
}
